
body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  background: url(Back\ img.jpg) no-repeat center center/cover;
}

.card {
  background:linear-gradient(120deg, #3f5475, #c2e9fb);
  border: rgb(15, 1, 46) 4px solid;
 
 
}


h2 i {
  color: #1a026e;
  margin-right: 8px;
}

h2 {
  
  color: #021f7c;
}

button {
  font-size: 1.1rem;
  transition: 0.3s;
}

button:hover {
  background-color: #055db6;
  transform: scale(1.02);
}

.form-label i {
  color: #04275c;
  margin-right: 6px;
}

input[type="file"]::file-selector-button {
  background-color: #2164c9;
  color: rgb(8, 9, 9);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

input[type="file"]::file-selector-button:hover {
  background-color: #032355;
}
